<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:debuggable="false"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_trackmate"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_trackmate_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.TrackMate"
            tools:ignore="HardcodedDebugMode"
            tools:targetApi="31">
        <activity
                android:name=".activities.game.statistics.GameStatisticsYearActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.game.statistics.GameStatisticsStatusActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.game.statistics.GameStatisticsCurrencyActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.game.statistics.GameStatisticsActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.books.EditNotesActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.books.AddNotesActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.game.EditDLCActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.game.AddDLCActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.entertainment.EditPlatformsActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.PlatformManagerActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.AddPlatformsActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.EditTelevisionSeriesActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.AddTelevisionSeriesActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.TelevisionSeriesActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.AddMoviesActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.EditMoviesActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.EditMusicActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.AddMusicActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.MusicActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.MoviesActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.books.AddBookActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.books.EditBookActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.game.AddGameActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.books.BooksActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.entertainment.EntertainmentCategoryActivity"
                android:exported="false"
                android:theme="@style/Theme.TrackMate"/>
        <activity
                android:name=".activities.game.EditGameActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.game.GamePlatformActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.SettingsActivity"
                android:exported="false"/>
        <activity
                android:name=".activities.MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.TrackMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>